* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.container .form-inline .form-group .fibonacci-sub-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #373A3C;
}

.container .form-inline .form-group #result {
    margin: 0;
    font-weight: bold;
    text-decoration: underline;
}

.container .form-inline .error {
    border: 1px solid #D9534F;
    color: #D9534F;
    border-radius: 4px;
}

.container .alert-danger {
    width: 180px;
    height: 33px;
    left: 11.5%;
    background: #F2DEDE;
    border: 1px solid #EBCCCC;
    border-radius: 4px;
}

.container .alert-danger p {
    color: #A94442;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    width: 176.59px;
    height: 14.4px;
    left: 9px;
    position: absolute;
}

.container .hideError {
    display: none;
}