* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.container .form-inline .form-group .fibonacci-sub-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #373A3C;
}

.container .form-inline .form-group #result {
    margin: 0;
    font-weight: bold;
    text-decoration: underline;
}